In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)

In [2]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'], ['H', 'I', 'J', 'K'])

In [3]:
df

          H         I         J         K
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [5]:
df.loc['E']

H    0.190794
I    1.978757
J    2.605967
K    0.683509
Name: E, dtype: float64

In [6]:
df.all

<bound method DataFrame.all of           H         I         J         K
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509>

In [7]:
df.any

<bound method DataFrame.any of           H         I         J         K
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509>

In [8]:
df.new = df.copy

In [9]:
df.new

<bound method NDFrame.copy of           H         I         J         K
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509>